h1,
h2,
h3,
h4,
h5,
h6
{
    @apply font-display font-bold;
}

//  ----------------------------------------------------------------------------
//  h1
//  ----------------------------------------------------------------------------
h1
{
    @apply leading-none mt-0 mb-6;
    font-size: clamp(42px, calc(1rem + 2.5vw), 64px);
}

//  ----------------------------------------------------------------------------
//  h2
//  ----------------------------------------------------------------------------
h2
{
    @apply leading-tight my-16 mb-8;
    font-size: clamp(28px, calc(1rem + 1.3vw), 100px);
}

//  ----------------------------------------------------------------------------
//  h3
//  ----------------------------------------------------------------------------
h3
{
    @apply leading-tight my-8 mb-3;
    font-size: clamp(18px, calc(1rem + .3vw), 100px);
}
