h1,
h2,
h3,
h4,
h5,
h6
{
    @apply font-display font-bold;
}

h1 
{
    
}

h3,h4 
{
    @apply font-semi;
}

//  ----------------------------------------------------------------------------
//  h1
//  ----------------------------------------------------------------------------
h1
{
    font-size: clamp(var(--font-size-h1), calc(var(--font-size-h1) + 1.3vw), 72px);
    @apply leading-none mt-0 mb-12 ;

    & + .o-intro
    {
        @apply -mt-6;
    }
}

//  ----------------------------------------------------------------------------
//  h2
//  ----------------------------------------------------------------------------
h2
{
    font-size: clamp(var(--font-size-h2), calc(var(--font-size-h2) + .8vw), 45px);
    @apply leading-tight mt-16 relative;
    margin-bottom: calc(var(--font-size-h2) * 1.5);

    & + p
    {
        @apply -mt-8;
    }

    // We need something to separate / make h2's stand out, for this is 
    // just something temp..
    &:before
    {
        position: absolute;
        top: 22px;
        left: -100px;

        display: block;

        width: 40px;
        height: 5px;

        content: '';

        background-color: var(--color-accent);
    }
}

//  ----------------------------------------------------------------------------
//  h3
//  ----------------------------------------------------------------------------
h3
{
    font-size: clamp(var(--font-size-h3), calc(var(--font-size-h3) + .3vw), 25px);
    @apply leading-tight mt-12;
    margin-bottom: calc(var(--font-size-h3) * .5);
}

//  ----------------------------------------------------------------------------
//  h4
//  ----------------------------------------------------------------------------
h4
{
    font-size: clamp(var(--font-size-h4), calc(var(--font-size-h4) + .3vw), 22px);
    @apply leading-tight mt-12;
    margin-bottom: calc(var(--font-size-h4) * .3);

}
