// Elements — styling for bare HTML elements (like H1, A, header, footer, …). 
// These come with default styling from the browser so we must to redefine 
// them here.

@import "./headers";
@import "./code";
@import "./pre-code";




html,body 
{
    @apply bg-background text-font;
    font-size:var(--font-size-base);
    // line-height:var(--line-height-base);    
}

* 
{
    line-height: var(--line-height-base);
    // line-height:1.5;
    // margin-top:0;
    // margin-bottom:calc(1 * var(--font-size-base) * var(--line-height-base)) !important;
}

a{
    color:rgb(17, 106, 184);
}