<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">./vendor/anomaly/*/src/</directory>
    </include>
    <report>
      <html outputDirectory="./coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Application">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
    <testsuite name="Streams">
      <directory suffix="Test.php">./vendor/streams/*/tests</directory>
    </testsuite>
    <testsuite name="Streams Core">
      <directory suffix="Test.php">./vendor/streams/core/tests</directory>
    </testsuite>
    <testsuite name="Streams API">
      <directory suffix="Test.php">./vendor/streams/api/tests</directory>
    </testsuite>
    <testsuite name="Streams UI">
      <directory suffix="Test.php">./vendor/streams/ui/tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
