.o-doc-body
{
    width: min(868px, 100%);
    @apply ml-0 pb-64;
}

// We want the content to be more narrow, this is were we control that.
// Any element that has to be narrow like the text, include it in a not.
.o-doc-body *:not(code):not(pre):not(.c-copy-code):not(.c-copy-code__icon),
pre.language-bash
{
    width: min(768px, 100%);
}


//  ----------------------------------------------------------------------------
//  Documentation Typography settings
//  ----------------------------------------------------------------------------
.o-doc-body
{
    --baseline: .15vw;
    *
    {
        font-size: clamp(14px, calc(1rem + var(--baseline)), 21px);
    }
    h1,
    h2,
    h3,
    h4
    {
        @apply font-bold;
    }
    h1,
    h2,
    h3
    {
        @apply tracking-tighter leading-tight;
    }

    h1
    {
        font-size: clamp(28px, calc(3.5rem + var(--baseline)), 64px);

        margin-top: clamp(10px, calc(1.5rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(.5rem + var(--baseline)), 20px);

        @apply mt-0 leading-none; // WIP

        // background: -webkit-linear-gradient(55deg, #651dff, #00ceff 42%);
        // -webkit-background-clip: text;
        //         background-clip: text;

        // -webkit-text-fill-color: transparent;
    }
    h2
    {
        font-size: clamp(24px, calc(3rem + var(--baseline)), 42px);

        margin-top: clamp(10px, calc(3rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(1rem + var(--baseline)), 50px);
    }

    h3
    {
        font-size: clamp(21px, calc(1.5rem + var(--baseline)), 36px);

        margin-top: clamp(10px, calc(2rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(.5rem + var(--baseline)), 20px);
    }
    h4
    {
        font-size: clamp(16px, 18px, 28px);

        margin-top: clamp(10px, calc(1.5rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(.5rem + var(--baseline)), 20px);
        //color:yellow;
    }
    p a
    {
        transition: all 200ms ease-in-out;
        @apply border-b-4 border-accent border-l-0 border-r-0 border-t-0;
        
        &:hover
        {
            @apply bg-transparent;
        }
    }
}



// Common styling for pre and code 
pre,
code
{
    @apply font-mono;
    &,
    *
    {
        font-size: clamp(14px, calc(14px + var(--baseline)), 21px) !important;
    }
}
// Style the pre tag
pre
{
    overflow-x: auto;

    margin-top: clamp(10px, calc(2rem + var(--baseline)), 100px);
    margin-bottom: clamp(10px, calc(4rem + var(--baseline)), 100px);

    color: #eee;
    background: #1d1f21;
    @apply py-6 pb-4 px-8 pr-12 relative;

    &::before
    {
        position: absolute;
        top: -1px;
        left: 0;

        display: block;

        width: 20px;
        height: 20px;

        content: '';

        background: #fff;

        clip-path: polygon(100% 0, 0 0, 0 100%);
    }
}

// Style of pre tag if it is bash language
pre.language-bash
{
    color: #333;
    background: #1d1f21;
}

h4 + pre
{
    margin-top: clamp(10px, calc(1rem + var(--baseline)), 100px);
}
code.language-bash.hljs
{
    @apply p-0 pb-2;
}
