.o-navbar {
    @apply mt-0 mb-16 py-8 sticky z-10;
    backdrop-filter: blur(3px);
    top: 0px;

    background: rgba(245, 245, 245, 0.92);
    background: linear-gradient(
        0deg,
        rgba(245, 245, 245, 0.88) 0%,
        rgba(245, 245, 245, 0.95) 50%,
        rgba(245, 245, 245, 1) 95%
    );

    // border-color: #fafafa;
    color: var(--navbar-color-text);
}
.o-mode__dark .o-navbar {
    background: rgba(19, 21, 22, 0.9);
}

.o-navbar__has-intro {
    @apply mb-0;
}

.o-navbar__list-wrapper {
    @apply flex place-content-between items-center;
}
