//  ----------------------------------------------------------------------------
//  Global settings only — Otherwise use the theme files.
//  ----------------------------------------------------------------------------
:root {
    //  ------------------------------------------------------------------------
    //  Font Settings
    //  ------------------------------------------------------------------------

    // Font families
    --font-display: "Inter", "sans-serif";
    --font-body: "Inter", "sans-serif";
    --font-mono: "Inconsolata";

   

    // Font Weight
    --font-weight-normal: 400;
    --font-weight-semi: 700;
    --font-weight-bold: 800;

   
}

html.o-theme--compacts {
  
}
