
html {
    --color-background: #fff;
    --color-surface: #fbfbfb;
    --color-accent: #bee4ff;
    --color-underline: #e6e6e6;
    --color-font: #192633;
    --color-font-secondary: #7abaff;

    // Experimental
    --color-code: hsl(216, 7%, 93%);
    --color-code-text : hsl(216, 7%, 35%);

    --accent-surface:hsl(194, 100%, 98%);
    --accent-surface-shadow:hsl(194, 100%, 88%);
    --accent-surface-text:hsl(194, 100%, 20%);

    //210, 100%, 77%
    
}

html.o-theme--80s {
    --color-background: #fff;
    --color-surface: #b987a9;
    --color-accent: rgb(240, 240, 240);
    --color-font: #333;
}
