.c-aside-menu {
    list-style-type: none;
    list-style-position: inside;
    @apply list-none mr-8;
}
.c-aside-menu a {
    margin: 5px 0;

    transition: color 200ms ease-in-out;

    @apply block px-1;

    &:hover {
        @apply text-dark;
    }
}
.c-aside-menu .active a {
    @apply rounded-sm;
}
