.c-card-feature
{
    min-height: 100px;

    
    transition: all 400ms ease-in-out;

    background: var(--card-feature-bg);
    @apply p-4 rounded-lg shadow-2xl flex relative;
    
    @media (max-width: 1023px)
    {
        @apply items-center ;
    }
}
a.c-card-feature:hover
    {
        cursor: pointer;
        @apply shadow-xl;
        background: var(--card-feature-bg--hover);
    }
.c-card-feature__icon
{
    width: 40px;
    min-width: 40px;
    height: 40pxs;
    min-height: 40px;

    fill: var(--card-feature-icon);
    @apply mr-4;
}
.c-card-feature__body
{
    @apply text-sm leading-tight;
}
.c-card-feature__title
{
    @apply text-sm m-0 mb-1;
}
