.c-intro {
    @apply text-white w-full mb-12 py-12 border-b text-center;
    

    h1 
    {
        font-size: clamp(28px, calc(8rem + var(--baseline)), 120px);

        margin-top: clamp(10px, calc(1.5rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(.5rem + var(--baseline)), 20px);

        @apply mt-0 leading-snug; // WIP
    }
    h1 + p 
    {
        @apply font-mono text-lg;
    }

    // background: linear-gradient(
    //     0deg,
    //     rgba(101, 29, 255, 1) 0%,
    //     rgba(0, 206, 255, 1) 100%
    // );
    // background: radial-gradient(
    //     circle,
    //     rgba(101, 29, 255, 1) 0%,
    //     rgba(0, 206, 255, 1) 100%
    // );

    // TMP Playing with ryan idea 

    background: -webkit-linear-gradient(55deg, #651dff, #00ceff 42%);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    h1 {
        background: -webkit-linear-gradient(55deg, #651dff, #00ceff 42%);
        -webkit-background-clip: text;
        background-clip: text;

        -webkit-text-fill-color: transparent;
    }
}
.c-intro__wave {
    width: 100%;
}
