.c-navbar {
    list-style-type: none;
}
.c-navbar__item {
    // Code..
}
.c-navbar__icon {
    width: 25px;
    height: 25px;
    //fill: var(--navbar-text);
}
.c-navbar__left {
    // Code..
}
.c-navbar__right {
    @apply flex;
}
.c-navbar__right li{
@apply ml-2
}
