.c-navbar {
    list-style-type: none;
}
.c-navbar__item {
    // Code..
}
.c-navbar__icon {
    width: 25px;
    height: 25px;
    fill: var(--navbar-color-text);
}
.c-navbar__left {
    // Code..
}
.c-navbar__right {
    // Code..
}
