body,
.c-scrollbar,
code[class^="language"] {
    --scrollbar-color:#cd2222;
    --scrollbar-bkg-color:#282828;
    scrollbar-width: thin; /* "auto" or "thin"  */
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-bkg-color);; /* scroll thumb & track */
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    // &::-webkit-scrollbar {
    //     width: 5px;
    //     border: 1px solid #green;
    // }
    
    &::-webkit-scrollbar-track {
        border-radius: 0;
        background: var(--scrollbar-bkg-color);
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: var(--scrollbar-color);
    }
}



// TODO: Temp thing
.w-aside__scrollbar
{
    overflow-y: auto;
    max-height: 100vh;
    min-height: 100vh;;
}