body,
.c-scrollbar,
code[class^="language"] {
    --scrollbar:var(--scrollbar-color);
    --scrollbar-bkg:var(--scrollbar-bg);
    --scrollbar-width:5px;
    --scrollbar-height:1px;
    scrollbar-width: thin; /* "auto" or "thin"  */
    scrollbar-color: var(--scrollbar) var(--scrollbar-bkg); /* scroll thumb & track */
    &::-webkit-scrollbar {
        width: var(--scrollbar-width);
        height: var(--scrollbar-height);
    }
    // &::-webkit-scrollbar {
    //     width: 5px;
    //     border: 1px solid #green;
    // }
    
    &::-webkit-scrollbar-track {
        border-radius: 0;
        background: var(--scrollbar-bkg);
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: var(--scrollbar);
    }
}



// TODO: Temp thing
.w-aside__scrollbar
{
    overflow-y: auto;
    max-height: 100vh;
    min-height: 100vh;;
}