.c-toc-list
{
    width: 300px;
   
    @apply ml-auto;
}
.js-toc 
{
    @apply pt-16;
}
ol.toc-list 
{
   
   // min-height: 100vh;
}
.toc-list-item
{
    max-width:250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:1rem;
}
.js-toc>.toc-list>.toc-list-item:first-child>a
{
    @apply block ;
    //line-height:50px;
    // font-weight: 700; 
    // font-size:1.2rem;
    // &:not(.is-active-li){
    //     //color:red;
    // }  
}


.js-toc>.toc-list>.toc-list-item.is-active-li>a 
{
    // &:not(.is-active-li){
    //     color:#000;
    // }
}