.c-toc-list
{
    min-width:300px;
}
.js-toc 
{
    @apply pt-0;
}
.toc-list 
{
   
   // min-height: 100vh;
}
.toc-list-item
{
    max-width:250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}