@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 20px;
    line-height: 32px;
}

body {
    background: #F0F0F0;
}

@import "prism";

@import "utilities/reset";
@import "vendor/alpine";

@import "components/code";
@import "layout/header";

.doc-body {

    h2,
    h3,
    h4,
    h5 {
        @apply leading-none tracking-tight text-gray-900;
    }

    h2 {
        @apply text-4xl mt-8 mb-8;
    }

    h3 {
        @apply text-3xl mt-8 mb-8;
    }

    h4 {
        @apply text-2xl mt-4 mb-4;
    }

    h2,
    h3,
    h4,
    h5,
    p {
        @apply w-3/4;

        > code {
            padding-top: .1rem;
            padding-bottom: .1rem;
            @apply bg-gray-200 px-1;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        position: relative;

        a:not(.anchorjs-link) {
            @apply border-b bottom-1 border-black hover-border-solid border-dotted;
        }
    }

    p {
        @apply mb-4;
    }

    p,
    ul {
        a {
            border-bottom-width: 1px;
            @apply font-bold border-black border-dotted;
        }
    }

    .anchorjs-link {
        opacity: .15;

        &:hover {
            opacity: .5;
        }
    }

    :not(pre)>code[class*=language-],
    pre[class*=language-] {
        @apply my-16;
    }

    ul {
        @apply list-disc ml-5 my-8;
    }

    table {
        @apply w-full mt-8 mb-8;

        th {
            @apply text-left py-1 px-2 bg-gray-50;
        }
        
        td {
            @apply text-left py-1 px-2 border-b-2 border-gray-100;
        }
    }
}

.ls-doc__toc {
    position: fixed;

    ol {

        &.is-collapsed {
            display: none;
        }

        li {
            a {
                font-weight: bold;

                &.is-active-link {
                    @apply text-red-500;
                }
            }

            ol {
                margin-left: .5rem;

                a {
                    font-size: .85rem;
                    font-weight: normal;
                }
            }
        }
    }
}

.hover-border-solid:hover {
    transition: all 200ms;
    border-style: solid !important;
}
