// Generic — reset and/or normalize styles, box-sizing definition, etc. It is
// important to note that this is the first layer of the triangle that
// generates CSS.

html {
    overflow-x: hidden;
    font-size:16px;
}
* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--text);
    
}

@import "./anchor";
@import "./list";
@import "./typography.scss";





