// Generic — reset and/or normalize styles, box-sizing definition, etc. It is
// important to note that this is the first layer of the triangle that
// generates CSS.

html {
    overflow-x: hidden;
    font-size:16px;
}
* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--text);
    
}

@import "./typography.scss";

ul:not(.c-list):not(.c-aside-menu):not(.c-navbar) {
    @apply list-disc my-6;
    list-style-position: inside;
    // Nested unordered list elements
    li {
        @apply my-2;
    }
}




