.list-arrow
{
    @apply list-none;
    li
    {
        @apply relative list-none;
    }
    li::before
    {
        position: relative;

        display: inline-block;

        width: 0;
        height: 0;
        margin-right: 10px;

        content: '';

        border-width: 5px 0 5px 10px;
        border-style: solid;
        border-color: transparent transparent transparent var(--color-accent);;
    }
}
