// .o-intro
// {
//     @apply relative flex items-center bg-accent p-4;
//     min-height:4rem;   
// }

.o-intro
{
    @apply font-mono leading-normal mb-12;
    font-size:var(--font-size-intro,1rem);
}





.o-intro p 
{
    text-decoration: underline;
    text-decoration-color:var(--color-surface);
}

