
.o-intro
{
    @apply font-mono;
    font-size:1.0625rem; // Must be larger than base font size
    margin-top:calc(var(--line-height-base) * 1);
    margin-bottom:calc(var(--line-height-base) * 2);
    padding:var(--line-height-base);
    background:aliceblue;
    box-shadow: 8px 9px 0px 0px rgba(0, 0, 255, 0.2);
}


.o-intro p 
{
    //text-decoration: underline;
    text-decoration-color:var(--color-surface);
}

