
.o-intro
{
    @apply font-mono;
    font-size:1.0625rem; // Must be larger than base font size
    margin-top:calc(var(--line-height-base) * 1);
    margin-bottom:calc(var(--line-height-base) * 2);
    background:aliceblue;
    padding:var(--line-height-base);
}


.o-intro p 
{
    //text-decoration: underline;
    text-decoration-color:var(--color-surface);
}

