body.theme--docs {
    background-color: var(--color-white);

    header > div {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    aside {
        border-right-width: 1px;
        border-right-style: solid;
    }

    .toc__container {
        font-size: 16px;
        line-height: 20px;
        border-left-width: 1px;
        border-left-style: solid;

        .ls-doc__toc {
            position: fixed;
        }
    }
}
