body.theme--docs {
    background-color: var(--color-white);

    header > div {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    aside {
        border-right-width: 1px;
        border-right-style: solid;
    }

    .ls-doc__toc {
        margin: 3rem 0;
        //font-size: 16px;
        line-height: 1.25;

        > ol {

            > li {

                &:not(:first-of-type) {
                    margin-top: .5rem;
                }

                > a {
                    font-weight: bold;
                    text-transform: uppercase;
                }

                > ol {
                    @apply pl-6;
                }
            }
        }
    }

    .toc-link {
        position: relative;
        display: inline-block;
        
        padding-left: 1rem;
        
        padding-top: .125rem;
        padding-bottom: .125rem;
        
        &:after {
            left: 0;
            content: "#";
            //display: none;
            position: absolute;
            font-weight: normal !important;

            @apply text-red-500;
        }

        &:hover {
            @apply text-red-500;
            // &:after {
            //     display: inline-block;
            // }
        }

        .anchorjs-link:after {
            @apply text-red-500;
        }
    }

    .doc-body {
        
        > h2,
        > h4,
        > p,
        > ul,
        > pre,
        > blockquote {
            @apply my-5;
        }

        h2 {
            @apply mt-10 text-3xl font-extrabold;
        }

        h3 {
            @apply mt-10 text-2xl font-extrabold;
        }

        h4 {
            @apply mt-8 text-xl font-bold;
        }

        p {
            @apply w-3/5;
        }

        p,
        a {
            > code {
                @apply text-red-500 bg-gray-100 p-1;    
            }
        }

        p > a,
        li > a {
            border-bottom-width: 2px;

            @apply text-red-500 font-bold border-dotted border-red-500 duration-1000;

            &:hover {
                border-bottom-style: solid;
            }
        }

        ul {
            margin-left: 1rem;
            padding-left: 1rem;

            li {
                list-style: disc;
            }
        }

        blockquote {
            border-left-width: .5rem;

            @apply p-4 border-red-500 bg-red-100;
        }
    }
}
