.o-feature-list
{
    @apply my-8 relative;
}
.o-feature-list h2
{
    @apply mt-0 mb-2 text-xl;
}
.o-feature-list__blob
{
    z-index: -1;
    @apply absolute top-0 left-0;
        top: -50vh;
    left: -50vw;
    width: 1500px;
    fill:var(--color-accent);
    opacity:.05;

}
