.c-versioning {
    @apply fixed top-0 right-0 p-8;
    @extend %handwrite;
    font-size: 36px;
    color: #ddd;

    .js-toc {
        margin-top: 2rem;
        font-family: Inter;
        font-size: 14px;
        color: var(--color-font);

        ul,
        ol {
            padding: 0;
        }
    }
}

.js-toc-content {

    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
        display: block;
        content: " ";
        height: 10px;
        margin-top: -10px;
        visibility: hidden;
    }
}
