:root {
    // Widths
    --width-aside: 300px;
    --width-main: calc(100% - var(--width-aside));

    // @each $key, $value in $colors {
    //     @include generate-color-var($key, $value);
    // }

    --color-white: #fff;
    --color-black:#000;
    --color-primary: #000;

    // Accent
    --color-accent:#00ceff;
    --color-accent-dark:#6fa6b3;
    --color-accent-light:#d1f6ff;

    --position-top-aside-menus:153px;
}
