:root {
    // Colors 
    --color-dark-base: 210;
    --color-dark-opacity:1;
    --color-dark:hsla(var(--color-dark-base),6%,8%,var(--color-dark-opacity));
    --color-dark-darker:hsla(var(--color-dark-base),6%,5%,var(--color-dark-opacity));
    --color-dark-lighter:hsla(var(--color-dark-base),6%,21%,var(--color-dark-opacity));

    --color-light-base: 0;
    --color-light-opacity:1;
    --color-light:hsla(var(--color-light-base),0%,99%,var(--color-light-opacity));
    --color-light-darker:hsla(var(--color-light-base),0%,90%,var(--color-light-opacity));
    --color-light-lighter:hsla(var(--color-light-base),0%,100%,var(--color-light-opacity));

    --color-accent-base: 278;
    --color-accent-opacity:1;
    --color-accent:hsla(var(--color-accent-base),68%,52%,var(--color-accent-opacity));
    --color-accent-darker:hsla(var(--color-accent-base),63%,35%,var(--color-accent-opacity));
    --color-accent-lighter:hsla(var(--color-accent-base),63%,65%,var(--color-accent-opacity));

    // Font weights 
    --font-weight-normal:300;
    --font-weight-bold:700;

    // Font sizes 
    --font-size-xs:.75rem;
    --font-size-sm:.875rem;
    --font-size-base:1.1rem;
    --font-size-lg:1.2rem;
    --font-size-xl:2rem;
    --font-size-xxl:3rem;
    --font-size-code:.925rem;

    // Hljs 
    --highlight-padding:0 0rem 3px;

    // Widths
    --width-aside: 300px;
    --width-main: calc(100% - var(--width-aside));

    --position-top-aside-menus: 153px;

    // Component Callout Global
    --callout-title-size:1.5rem;
}


.o-mode__light {

    --color-accent-base: 211;
    --color-accent-opacity:1;
    --color-accent:hsla(var(--color-accent-base),100%,76%,var(--color-accent-opacity));
    --color-accent-darker:hsla(var(--color-accent-base),100%,35%,var(--color-accent-opacity));
    --color-accent-lighter:hsla(var(--color-accent-base),100%,65%,var(--color-accent-opacity));

    --text:var(--color-dark);
    --bg:var(--color-light);

    // ASIDE
    --aside-menu-link:var(--color-dark-lighter);
    --aside-menu-link--active:var(--color-accent);
    --aside-menu-link--hover:var(--color-accent);

    // Links
    --anchor:var(--color-accent);
    --anchor--hover:var(--color-dark);
    
    // Scrollbar
    --scrollbar-color:var(--color-accent);
    --scrollbar-bg:var(--color-dark-lighter);

    // Highlight and code blocks
    --highlightjs-bg:var(--color-dark);
    --code-in-text-color:var(--color-light);
    --code-in-text-bg:var(--color-dark);

    // Top navigation
    --navbar-text:var(--color-dark);

    // Bottom animation
    --code-bottom-anim:hsla(0,0%,85%,.4);

    // Component Callout 
    --callout-border:var(--color-light-darker);
    --callout-bg:var(--color-light-lighter);
    
}


.o-mode__dark {

    --color-accent-base: 321;
    --color-accent-opacity:1;
    --color-accent:hsla(var(--color-accent-base),68%,52%,var(--color-accent-opacity));
    --color-accent-darker:hsla(var(--color-accent-base),63%,35%,var(--color-accent-opacity));
    --color-accent-lighter:hsla(var(--color-accent-base),63%,65%,var(--color-accent-opacity));
    
    --text:var(--color-light);
    --bg:var(--color-dark);

    // ASIDE
    --aside-menu-link:var(--color-light-darker);
    --aside-menu-link--active:var(--color-accent);
    --aside-menu-link--hover:var(--color-light-darker);

    // Links
    --anchor:var(--color-accent);
    --anchor--hover:var(--color-light);

    // Scrollbar
    --scrollbar-color:var(--color-accent);
    --scrollbar-bg:var(--color-dark);

    // Highlight and code blocks
    --highlightjs-bg:var(--color-dark-darker);
    --code-in-text-color:var(--color-light-darker);
    --code-in-text-bg:var(--color-dark-lighter);

    // Top navigation
    --navbar-text:var(--color-light);

    // Bottom animation
    --code-bottom-anim:hsla(var(--color-accent-base),63%,50%,.2);

    // Component Callout 
    --callout-border:var(--color-dark-lighter);
    --callout-bg:var(--color-dark-lighter);

}