.c-code-bottom-anim 
{
    @apply relative;

    

}

.c-code-bottom-anim svg 
{
    @apply absolute;
    left: -200px;
    bottom: -250px;
    z-index: -1;
}

.c-code-bottom-anim path[class^="triangle"]{
    fill:var(--code-bottom-anim);
}